<hlm-carousel class="w-full" [options]="{ loop: true, align: 'start' }">
  <hlm-carousel-content>
    @if (loading) {
    <hlm-carousel-item *ngFor="let skeleton of loadingSkeleton">
      <hlm-skeleton class="w-[355px] h-[200px] rounded-lg" />
    </hlm-carousel-item>
    } @else {
    <hlm-carousel-item *ngFor="let movie of movieData; index as i">
      <brn-hover-card>
        <app-image
          brnHoverCardTrigger
          [ngSrc]="movieUrl + 'w355_and_h200_face' + movie.backdrop_path"
          [alt]="movie.title"
          [width]="355"
          [height]="200"
          class="rounded-lg overflow-hidden hover:cursor-pointer"
        ></app-image>
        <hlm-hover-card-content
          *brnHoverCardContent
          class="flex w-[400px] !rounded-lg !shadow-xl overflow-hidden p-0"
        >
          <app-movie-card [movie]="movie"></app-movie-card>
        </hlm-hover-card-content>
      </brn-hover-card>
    </hlm-carousel-item>
    }
  </hlm-carousel-content>
  <button hlm-carousel-previous></button>
  <button hlm-carousel-next></button>
  <hlm-carousel-shadow-before></hlm-carousel-shadow-before>
  <hlm-carousel-shadow-after></hlm-carousel-shadow-after>
</hlm-carousel>
