<!-- FETCH SUCCESS -->
@if (!!movieDetail.title) {
<section
  class="relative h-content bg-cover bg-right min-h-[600px] pt-28 pb-6 mb-20"
  [ngStyle]="
    movieDetailLoading ? {} : { 'background-image': 'url(' + backdropUrl + ')' }
  "
>
  <div
    class="absolute top-0 w-full h-full bg-gradient-to-b from-background/75 to-95% to-background"
  ></div>
  <div class="container relative z-10 w-full h-full flex flex-col md:flex-row">
    <div class="md:hidden mb-4">
      @if(movieDetailLoading) {
      <hlm-skeleton class="w-[200px] h-[20px] mb-2" />
      <div class="flex flex-row gap-4 mb-6">
        <hlm-skeleton class="w-[10px] h-[28px]" />
        <hlm-skeleton class="w-[10px] h-[28px]" />
      </div>
      } @else {
      <h1 [ngClass]="[hlmH1, 'mb-2']">
        {{ movieDetail.title }}
      </h1>
      <div class="text-lg font-semibold mb-6">
        <span> {{ movieDetail.release_date | date : "MMMM YYYY" }}</span>
        <span class="inline-block px-2"> • </span>
        <span> {{ movieDetail.runtime | runtimeFormat }} </span>
      </div>
      }
    </div>

    <div class="flex justify-center">
      @if (movieDetailLoading) {
      <hlm-skeleton class="w-[300px] h-[450px] rounded-lg" />
      } @else {
      <app-image
        class="rounded-lg"
        [ngSrc]="movieUrl + 'w300_and_h450_bestv2' + movieDetail.poster_path"
        [alt]="'image'"
        [width]="300"
        [height]="450"
        [aspectRatio]="3 / 2"
        [prioritize]="true"
      ></app-image>
      }
    </div>

    <div class="pl-0 md:pl-10 pt-5">
      @if(movieDetailLoading) {
      <hlm-skeleton class="w-[200px] h-[20px] mb-2" />
      <div class="flex flex-row gap-4 mb-6">
        <hlm-skeleton class="w-[10px] h-[28px]" />
        <hlm-skeleton class="w-[10px] h-[28px]" />
      </div>
      <hlm-skeleton class="w-[200px] h-[20px]" />
      <hlm-skeleton class="w-[300px] h-[20px]" />
      <hlm-skeleton class="w-[250px] h-[20px]" />
      <hlm-skeleton class="w-[200px] h-[20px]" />
      } @else {
      <h1 [ngClass]="[hlmH1, 'mb-2 hidden md:block']">
        {{ movieDetail.title }}
      </h1>
      <div class="text-lg font-semibold mb-6 hidden md:block">
        <span> {{ movieDetail.release_date | date : "MMMM YYYY" }}</span>
        <span class="inline-block px-2"> • </span>
        <span> {{ movieDetail.runtime | runtimeFormat }} </span>
      </div>
      <div
        class="flex flex-row md:flex-row items-center gap-4 sm:gap-6 md:gap-4 mb-6"
      >
        <div>
          <a
            hlmBtn
            class="rounded-full flex flex-row gap-2 font-medium px-4"
            href="{{ videoUrl + movieDetail.videos?.results?.[0]?.key }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ng-icon
              class="text-primary-foreground"
              hlm
              name="lucidePlay"
              size="sm"
            />
            Play Trailer
          </a>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <span class="text-yellow-500 text-xl font-medium"> SCORE </span>
          <span class="text-2xl flex gap-x-1 items-center">
            <span class="font-medium">
              {{ movieDetail.vote_average | number : "1.2-2" }}
            </span>
            <ng-icon class="text-yellow-500" hlm name="lucideStar" />
          </span>
        </div>
        <div>
          <button
            hlmBtn
            (click)="toggleFavorite(movieDetail.id)"
            [ngClass]="[
              '!rounded-full flex flex-row gap-2 font-medium !p-0 !w-11 !h-11 group transition-all duration-300',
              isFavorite(movieDetail.id)
                ? 'bg-primary text-white'
                : 'bg-secondary hover:bg-secondary hover:text-primary'
            ]"
          >
            <ng-icon
              [ngClass]="[
                'transition-all duration-300',
                isFavorite(movieDetail.id)
                  ? 'text-white'
                  : 'text-primary group-hover:text-primary'
              ]"
              hlm
              name="lucideHeart"
            />
          </button>
        </div>
      </div>
      <div class="mb-6 max-w-4xl">
        <p class="italic text-base md:text-lg font-light">
          {{ movieDetail.tagline }}
        </p>
      </div>
      <div class="max-w-4xl mb-6">
        <h4 [ngClass]="[hlmH4, '!text-2xl mb-2']">Overview</h4>
        <p [class]="'text-base md:text-lg'">{{ movieDetail.overview }}</p>
      </div>
      <div class="max-w-4xl">
        <h4 [ngClass]="[hlmH4, '!text-2xl mb-3']">Genre</h4>
        <div class="flex flex-row gap-4">
          <ng-container *ngFor="let genre of movieDetail.genres">
            <span class="rounded-full bg-secondary text-white px-5 py-2">
              {{ genre.name }}
            </span>
          </ng-container>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<app-detail-media
  [loading]="movieDetailLoading"
  [movieTitle]="movieDetail.title"
  [images]="movieDetail.images!"
  [videos]="movieDetail.videos!"
></app-detail-media>

@defer{
<app-recommendation></app-recommendation>
} }
